<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title> Password Change</title>
</head>
<body>
<form method="post">
{% csrf_token %}
    {% if n %}
    <script>
        alert("NEW PASSWORD IS NOT MATCH WITH CONFIRM PASSWORD")
   </script>
    {% endif %}
     {% if y %}
    <script>
        alert("OLD PASSWORD DOES NOT  MATCH")
   </script>
    {% endif %}
<label>Current password</label>
<input type="text" name="cpass">
</br>
<label>New password</label>
<input type="text" name="npass">
</br>
<label>Confirm password</label>
<input type="text" name="conpass">
</br>
    <input type="submit">
</form>

</body>
</html>