<!DOCTYPE html>
<html lang="en">
<head>
    <style>
    body{
background-image:url("/assets/images/log-in-icon-2.jpg");
background-repeat:no-repeat;
background-attachment:fixed;
background-position:center;
}
h1{
color:Red;
text-align:center;
}
.a a{
font-size:30;
color:
}
.a{
text-align:center;
}
    </style>
    <meta charset="UTF-8">
    <title>Not Login</title>
</head>
<body>
<h1>You are not Logged in</h1>
<div class="a">
    <a href="/login/"> <h2> Click here to Log in </h2> </a>
</div>
</body>
</html>