<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Signup</title>
</head>
<body>
<form method="post">
    {% csrf_token %}
{% if sucess %}
    <script>
        alert("successfully done")
    </script>
    {% endif %}
<div>
    <select name="role">
        {% if role %}
        {% if  request.session.role_name == 'superuser' %}
        <option value="{{ role.0.role_id }}">{{ role.0.role_name }}</option>
        {% endif %}
        {% if  request.session.role_name == 'admin' %}
        <option value="{{ role.1.role_id }}">{{ role.1.role_name }}</option>
        {% endif %}
        {% endif %}
    </select>

</div>
<label>
    name
</label>
<input type="text" name="name">
<br/>
<label>
    email
</label>
<input type="text" name="email">

<br/><label>
    mobile no.
</label>
<input type="text" name="mobile">
<br/><label>
    age
</label>
<input type="text" name="age">
<br/><label>
    address
</label>
<input type="text" name="address">
<br/><label>
    state
</label>
<input type="text" name="state">
<br/>
    <input type="submit" name="submit">
</form>
</body>
</html>