<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Show Profile</title>
</head>
<body>
<table border="2">
    <tr>
        <td>email</td>
        <td>fullname</td>
        <td>password</td>
        <td>mobile</td>
        <td>state</td>
        <td>address</td>
        <td>state</td>

    </tr>
    {% if d %}
    <tr>
        <td>{{ d.user_email }}
        </td>
         <td>{{ d.user_fullname }}
        </td>
         <td>{{ d.user_password }}
        </td>
         <td>{{ d.user_mobile }}
         </td>
        <td>{{ d.user_state }}
        </td>
         <td>{{ d.user_address }}
        </td>
         <td>{{ d.user_age }}
         </td>


          <td><a href="/delete/?id={{d.user_email}}">Delete</a></td>
       <td><a href="/editprofile/?email={{d.user_email}}">EDIT</a></td>
    </tr>


    {% endif %}
</table>

</body>
</html>